## Name : Sahib Hussain
### INTERNSHIP 17

In [1]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\owner\anaconda3\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\owner\anaconda3\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in c:\users\owner\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.0.1)
Requirement already satisfied: requests in c:\users\owner\anaconda3\lib\site-packages (2.24.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\owner\anaconda3\lib\site-packages (from requests) (1.25.11)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\owner\anaconda3\lib\site-packages (from requests) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\owner\anaconda3\lib\site-packages (from requests) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\users\owner\anaconda3\lib\site-packages (from requests) (2.10)

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

### 1. Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’

In [8]:
wikipedia = requests.get("https://en.wikipedia.org/wiki/Main_Pag")

In [9]:
soup = BeautifulSoup(wikipedia.content)

In [10]:
headers = soup.find_all('h2', class_='mp-h2')

In [11]:
tags = []

for i in headers:
    tags.append(i.text)
tags

["From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

In [12]:
Header_tags = pd.DataFrame(data=tags,columns=['Heading'], index=np.arange(1,9,1))

In [13]:
Header_tags

                         Heading
1  From today's featured article
2               Did you know ...
3                    In the news
4                    On this day
5       Today's featured picture
6       Other areas of Wikipedia
7    Wikipedia's sister projects
8            Wikipedia languages

In [14]:
Header_tags.to_csv('Header_tags.csv')

### 2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release) and make data frame.

In [18]:
imdb = requests.get('https://www.imdb.com/search/title/?title_type=feature,tv_movie&groups=top_100&sort=user_rating,desc&count=100&view=simple')

In [19]:
soup = BeautifulSoup(imdb.content)

In [20]:
#Title

In [21]:
name = soup.find_all('span', class_='lister-item-header')

In [22]:
title = []

for i in name:
    title.append(i.a.text) 
len(title)

100

In [23]:
#Rate

In [24]:
rate = soup.find_all('div', class_='col-imdb-rating')

In [25]:
rating = []

for i in rate:
    rating.append(i.text.replace('\n','').strip()) 
len(rating)

100

In [26]:
#Year

In [27]:
year = soup.find_all('span', class_='lister-item-year text-muted unbold')

In [28]:
years = []

for i in year:
    years.append(i.text.replace('\n','').strip().replace('(I)','')) 
len(years)

100

In [29]:
data=list(zip(title,rating,years))

In [30]:
IMDB_Top_100=pd.DataFrame(data=data, columns = ['Name','IMDB_Rating', 'Year_Of_Release'], index = np.arange(1,101,1))

In [31]:
IMDB_Top_100

                                  Name IMDB_Rating Year_Of_Release
1             The Shawshank Redemption         9.3          (1994)
2                        The Godfather         9.2          (1972)
3                      The Dark Knight           9          (2008)
4               The Godfather: Part II           9          (1974)
5                         12 Angry Men           9          (1957)
..                                 ...         ...             ...
96                  North by Northwest         8.3          (1959)
97                             Vertigo         8.3          (1958)
98                 Singin' in the Rain         8.3          (1952)
99                        Citizen Kane         8.3          (1941)
100  M - Eine Stadt sucht einen Mörder         8.3          (1931)

[100 rows x 3 columns]

In [32]:
IMDB_Top_100.to_csv('IMDB_Top_100.csv')

### 3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release) and make data frame

In [33]:
IMDB = requests.get('https://www.imdb.com/india/top-rated-indian-movies/')

In [34]:
soup = BeautifulSoup(IMDB.content)

In [35]:
#Title

In [36]:
name = soup.find_all('td', class_='titleColumn', limit = 100)

In [37]:
title = []

for i in name:
    title.append(i.a.text) 
len(title)

100

In [38]:
#rating

In [39]:
rate = soup.find_all('td', class_='ratingColumn imdbRating', limit = 100)

In [40]:
rating = []

for i in rate:
    rating.append(i.text.replace('\n','').strip()) 
rating

['8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.5',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.4',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.3',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.2',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1',
 '8.1']

In [41]:
#Year

In [42]:
year = soup.find_all('span', class_='secondaryInfo',limit=100)

In [43]:
years = []

for i in year:
    years.append(i.text.replace('\n','').strip()) 
years

['(1955)',
 '(1987)',
 '(2018)',
 '(2003)',
 '(1979)',
 '(2018)',
 '(1959)',
 '(1989)',
 '(1993)',
 '(2016)',
 '(2018)',
 '(1992)',
 '(2004)',
 '(2019)',
 '(2021)',
 '(2015)',
 '(2009)',
 '(2007)',
 '(2019)',
 '(2020)',
 '(2018)',
 '(1991)',
 '(2016)',
 '(2019)',
 '(2019)',
 '(1993)',
 '(1956)',
 '(1983)',
 '(2018)',
 '(2018)',
 '(1957)',
 '(1965)',
 '(2015)',
 '(2002)',
 '(1975)',
 '(1997)',
 '(1995)',
 '(2019)',
 '(2019)',
 '(2013)',
 '(2017)',
 '(2016)',
 '(2018)',
 '(2018)',
 '(2006)',
 '(2006)',
 '(2015)',
 '(1971)',
 '(2005)',
 '(2014)',
 '(2014)',
 '(1999)',
 '(2018)',
 '(2016)',
 '(2015)',
 '(1998)',
 '(2013)',
 '(2012)',
 '(2014)',
 '(2003)',
 '(2012)',
 '(2012)',
 '(2016)',
 '(2013)',
 '(2000)',
 '(2015)',
 '(2004)',
 '(1975)',
 '(2005)',
 '(2012)',
 '(2007)',
 '(1992)',
 '(2015)',
 '(2015)',
 '(1960)',
 '(2016)',
 '(2011)',
 '(1964)',
 '(2019)',
 '(2010)',
 '(2008)',
 '(2017)',
 '(2013)',
 '(2015)',
 '(2000)',
 '(2003)',
 '(1999)',
 '(1995)',
 '(1992)',
 '(2001)',
 '(2012)',
 '(2006)',
 '(2019)',
 '(2001)',
 '(2012)',
 '(1994)',
 '(2004)',
 '(2018)',
 '(2014)',
 '(2013)']

In [44]:
data=list(zip(title,rating,years))

In [45]:
IMDB_Top_100_Indian=pd.DataFrame(data=data, columns = ['Name','IMDB_Rating', 'Year_Of_Release'], index = np.arange(1,101,1))

In [46]:
IMDB_Top_100_Indian

                         Name IMDB_Rating Year_Of_Release
1             Pather Panchali         8.5          (1955)
2                     Nayakan         8.5          (1987)
3           Pariyerum Perumal         8.5          (2018)
4                  Anbe Sivam         8.5          (2003)
5                     Golmaal         8.5          (1979)
..                        ...         ...             ...
96            Andaz Apna Apna         8.1          (1994)
97                  Virumandi         8.1          (2004)
98   Uri: The Surgical Strike         8.1          (2018)
99                         PK         8.1          (2014)
100                     Lucia         8.1          (2013)

[100 rows x 3 columns]

In [47]:
IMDB_Top_100_Indian.to_csv('IMDB_Top_100_Indian.csv')

### 4. Write a python program to scrap book name, author name, genre and book review of any 5 books from
‘www.bookpage.com’

In [48]:
books = requests.get('https://bookpage.com/reviews?book_genre=mystery_suspense&page=1')

In [49]:
soup = BeautifulSoup(books.text, 'html.parser')

In [50]:
#BOOK Name

In [51]:
Bname = soup.find_all('h4', class_='italic', limit = 5)

In [52]:
BookName = []
for i in Bname:
    BookName.append(i.text.replace('\n',''))

In [53]:
BookName

['The Damage',
 ' ★ Bath Haus',
 'The Maidens',
 'The Girl Who Died',
 'Hour of the Witch']

In [54]:
#Author Name

In [55]:
Aname = soup.find_all('p', class_='sans bold', limit = 5)

In [56]:
AuthorName = []
for i in Aname:
    AuthorName.append(i.text.replace('\n',''))  
AuthorName

['Caitlin Wahrer',
 'P.J. Vernon',
 'Alex Michaelides',
 'Ragnar Jónasson',
 'Chris Bohjalian']

In [57]:
# Genre

In [58]:
genre = soup.find_all('p', class_='genre-links hidden-phone', limit = 5)

In [59]:
Genre = []
for i in genre:
    Genre.append(i.text.replace('\n',''))
Genre

['Mystery & Suspense / Suspense',
 'Mystery & Suspense / Thriller',
 'Mystery & Suspense / Thriller',
 'Mystery & Suspense / Mystery',
 'Mystery & Suspense / Suspense']

In [60]:
#Review

In [61]:
review = soup.find_all(attrs={'class':'excerpt'})[:5]

In [62]:
Review = []
for p in review:
    Review.append(p.find('p').text.strip())
Review

['With twists worthy of a season finale of “Law & Order: SVU,” The Damage explores a family’s struggle in the aftermath of a violent sexual assault.',
 'When Oliver Park visits a gay bathhouse in search of an anonymous hookup, he’s putting a lot at risk: his comfortable relationship with Nathan, his upper middle-class life, even his hard-won sobriety.',
 'Fans of Alex Michaelides’ blockbuster debut\xa0The Silent Patient will eagerly dive into his newest thriller, The Maidens.',
 'The advertisement is simple and honest: “Teacher wanted at the edge of the world.”',
 'Chris Bohjalian blends historical fiction with a thrilling courtroom drama in his latest novel, Hour of the Witch.']

In [63]:
#Creating  dataframe

In [64]:
data =  list(zip(BookName,AuthorName,Genre,Review))

In [65]:
Book_Page_Review = pd.DataFrame(data = data, columns=['Book_Name', 'Author_Name','Genre','Review'], index = np.arange(1,6,1))

In [66]:
Book_Page_Review

,Book_Name,Author_Name,Genre,Review
1,The Damage,Caitlin Wahrer,Mystery & Suspense / Suspense,With twists worthy of a season finale of “Law ...
2,★ Bath Haus,P.J. Vernon,Mystery & Suspense / Thriller,When Oliver Park visits a gay bathhouse in sea...
3,The Maidens,Alex Michaelides,Mystery & Suspense / Thriller,Fans of Alex Michaelides’ blockbuster debut Th...
4,The Girl Who Died,Ragnar Jónasson,Mystery & Suspense / Mystery,The advertisement is simple and honest: “Teach...
5,Hour of the Witch,Chris Bohjalian,Mystery & Suspense / Suspense,Chris Bohjalian blends historical fiction with...

In [67]:
Book_Page_Review.to_csv('Book_Page_Review.csv')

### 5. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape

### i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [68]:
odi = requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')

In [69]:
soup = BeautifulSoup(odi.content)

In [70]:
#Name

In [71]:
name = soup.find_all('span', class_='u-hide-phablet', limit =10)

In [72]:
Team_Name= []

for i in name:
    Team_Name.append(i.text.replace('\n','').strip())
Team_Name

['New Zealand',
 'Australia',
 'India',
 'England',
 'South Africa',
 'Pakistan',
 'Bangladesh',
 'West Indies',
 'Sri Lanka',
 'Afghanistan']

In [73]:
#Macthes

In [74]:
match1 = soup.find('td', class_='rankings-block__banner--matches').get_text()

Matches = []

Matches.append(match1)

matches2 = soup.find_all(attrs={'class':"table-body"})[:9]

for match in matches2: #find all p tag and exclude the first one
        Matches.append(match.find('td', class_='table-body__cell u-center-text').text[:2])

In [75]:
#Points

points = soup.find('td', class_='rankings-block__banner--points').get_text()

Point=[]
Point.append(points)

cricket= soup.find_all(attrs={'class':'table-body'})[:9]

for i in cricket:
    Point.append(i.text.split('\n')[8:9])

Point

['2,054',
 ['2,945'],
 ['3,344'],
 ['3,100'],
 ['2,137'],
 ['2,323'],
 ['2,438'],
 ['2,222'],
 ['1,876'],
 ['1,054']]

In [76]:
#Rating

rating1= soup.find('td', class_='rankings-block__banner--rating u-text-right').get_text()

Ratings = []

Ratings.append(rating1.replace('\n','').strip())

rating2 = soup.find_all('td', class_='table-body__cell u-text-right rating')[:9]

for i in rating2:
    Ratings.append(i.text)
Ratings

['121', '118', '115', '115', '107', '97', '90', '82', '78', '62']

In [77]:
# DataFrame

data = list(zip(Team_Name,Matches,Point,Ratings))

Men_ODI_Teams = pd.DataFrame(data=data, columns = ['Team','Matches_Played','Points','Rating'], index = np.arange(1,11,1))

Men_ODI_Teams

            Team Matches_Played   Points Rating
1    New Zealand             17    2,054    121
2      Australia             25  [2,945]    118
3          India             29  [3,344]    115
4        England             27  [3,100]    115
5   South Africa             20  [2,137]    107
6       Pakistan             24  [2,323]     97
7     Bangladesh             27  [2,438]     90
8    West Indies             27  [2,222]     82
9      Sri Lanka             24  [1,876]     78
10   Afghanistan             17  [1,054]     62

In [78]:
Men_ODI_Teams.to_csv('Men_ODI_Teams.csv')

### ii) Top 10 ODI Batsmen in men along with the records of their team and rating

In [79]:
batting = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')

soup = BeautifulSoup(batting.content)

In [80]:
#Names
name1 = soup.find('div', class_='rankings-block__banner--name-large').get_text()

Names = []
    
Names.append(name1)

name2 = soup.find_all('td', class_='table-body__cell rankings-table__name name')[:9]

for i in name2:
    Names.append(i.a.text)
Names

['Babar Azam',
 'Virat Kohli',
 'Rohit Sharma',
 'Ross Taylor',
 'Aaron Finch',
 'Jonny Bairstow',
 'Fakhar Zaman',
 'Francois du Plessis',
 'David Warner',
 'Shai Hope']

In [81]:
#teams

team1 = soup.find('div',class_='rankings-block__banner--nationality').get_text().replace('\n','').replace('865','').strip()

teams = []

teams.append(team1)

team2 = soup.find_all('span', class_='table-body__logo-text')[:9]

for i in team2:
    teams.append(i.text)
teams

['PAK', 'IND', 'IND', 'NZ', 'AUS', 'ENG', 'PAK', 'SA', 'AUS', 'WI']

In [82]:
#Rating

rating1 = soup.find('div', class_='rankings-block__banner--rating').get_text()

ratings = []

ratings.append(rating1)

rating2 = soup.find_all('td', class_='table-body__cell rating')[:9]

for i in rating2:
    ratings.append(i.text)

ratings

['865', '857', '825', '801', '791', '785', '778', '778', '773', '773']

In [83]:
data = list(zip(Names,teams,ratings))

Odi_Men_Batting = pd.DataFrame(data=data, columns = ['Player_Name','Team','Rating'], index = np.arange(1,11,1))

Odi_Men_Batting

            Player_Name Team Rating
1            Babar Azam  PAK    865
2           Virat Kohli  IND    857
3          Rohit Sharma  IND    825
4           Ross Taylor   NZ    801
5           Aaron Finch  AUS    791
6        Jonny Bairstow  ENG    785
7          Fakhar Zaman  PAK    778
8   Francois du Plessis   SA    778
9          David Warner  AUS    773
10            Shai Hope   WI    773

In [84]:
Odi_Men_Batting.to_csv('Odi_Men_Batting.csv')

### iii) Top 10 ODI bowlers along with the records of their team and rating.

In [85]:
bowlers = requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')

soup = BeautifulSoup(bowlers.content)

In [86]:
#Names

name1 = soup.find('div',class_='rankings-block__banner--name-large').get_text()

Name = []
Name.append(name1)

name2 = soup.find_all('td',class_='table-body__cell rankings-table__name name')[:9]

for i in name2:
    Name.append(i.a.text)
Name

['Trent Boult',
 'Mehedi Hasan',
 'Mujeeb Ur Rahman',
 'Matt Henry',
 'Jasprit Bumrah',
 'Kagiso Rabada',
 'Chris Woakes',
 'Josh Hazlewood',
 'Pat Cummins',
 'Mustafizur Rahman']

In [87]:
#teams

team1 =soup.find('div',class_='rankings-block__banner--nationality').get_text().replace('\n','').strip()

Team = []
Team.append(team1)

team2 = soup.find_all('span', class_='table-body__logo-text')[:9]

for i in team2:
    Team.append(i.text)
Team

['NZ', 'BAN', 'AFG', 'NZ', 'IND', 'SA', 'ENG', 'AUS', 'AUS', 'BAN']

In [88]:
#rating

rating1 = soup.find('div', class_='rankings-block__banner--rating').get_text()

ratings = []
ratings.append(rating1)

rating2 = soup.find_all('td', class_='table-body__cell rating')[:9]

for i in rating2:
    ratings.append(i.text)
ratings

['737', '713', '708', '691', '690', '666', '665', '660', '646', '645']

In [89]:
data = list(zip(Name,Team,ratings))

Odi_Men_Bowlers = pd.DataFrame(data=data, columns = ['Player_Name','Team','Rating'], index = np.arange(1,11,1))

Odi_Men_Bowlers

          Player_Name Team Rating
1         Trent Boult   NZ    737
2        Mehedi Hasan  BAN    713
3    Mujeeb Ur Rahman  AFG    708
4          Matt Henry   NZ    691
5      Jasprit Bumrah  IND    690
6       Kagiso Rabada   SA    666
7        Chris Woakes  ENG    665
8      Josh Hazlewood  AUS    660
9         Pat Cummins  AUS    646
10  Mustafizur Rahman  BAN    645

In [90]:
Odi_Men_Bowlers.to_csv('Odi_Men_Bowlers.csv')

### 6. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:

### i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [91]:
Women = requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
soup = BeautifulSoup(Women.content)

In [92]:
#Teams
teams = []
team1 = soup.find_all('span', class_='u-hide-phablet')[:10]

for i in team1:
    teams.append(i.text.replace('\n',''))
teams

['Australia',
 'South Africa',
 'England',
 'India',
 'New Zealand',
 'West Indies',
 'Pakistan',
 'Bangladesh',
 'Sri Lanka',
 'Ireland']

In [93]:
#matches

match1 = soup.find('td', class_='rankings-block__banner--matches').get_text()

matches = []
matches.append(match1)

cricket= soup.find_all(attrs={'class':'table-body'})

for match in cricket:
        matches.append(match.find('td', class_="table-body__cell u-center-text").text[:2])
matches

['18', '24', '17', '20', '21', '12', '15', '5', '11', '2']

In [94]:
#Points

points = soup.find('td', class_='rankings-block__banner--points').get_text()

Point=[]
Point.append(points)

cricket= soup.find_all(attrs={'class':'table-body'})

for i in cricket:
    Point.append(i.text.split('\n')[8:9])
Point

['2,955',
 ['2,828'],
 ['1,993'],
 ['2,226'],
 ['1,947'],
 ['1,025'],
 ['1,101'],
 ['306'],
 ['519'],
 ['25']]

In [95]:
#Ratings

rating1 = soup.find('td', class_='rankings-block__banner--rating u-text-right').get_text()

ratings = []
ratings.append(rating1.replace('\n','').strip())

rating2 = soup.find_all('td', class_='table-body__cell u-text-right rating')

for i in rating2:
    ratings.append(i.text)
ratings

['164', '118', '117', '111', '93', '85', '73', '61', '47', '13']

In [96]:
#DataFrame
data = list(zip(teams,matches,Point,ratings))

Women_ODI_Teams = pd.DataFrame(data=data, columns = ['Team','Matches_Played','Points','Rating'], index = np.arange(1,11,1))

Women_ODI_Teams

            Team Matches_Played   Points Rating
1      Australia             18    2,955    164
2   South Africa             24  [2,828]    118
3        England             17  [1,993]    117
4          India             20  [2,226]    111
5    New Zealand             21  [1,947]     93
6    West Indies             12  [1,025]     85
7       Pakistan             15  [1,101]     73
8     Bangladesh              5    [306]     61
9      Sri Lanka             11    [519]     47
10       Ireland              2     [25]     13

In [97]:
Women_ODI_Teams.to_csv('Women_ODI_Teams.csv')

### ii) Top 10 women’s ODI players along with the records of their team and rating.

In [98]:
batting = requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')

batting.content
soup = BeautifulSoup(batting.content)

In [99]:
#PLayers
player1 = soup.find('div', class_='rankings-block__banner--name').get_text()

players = []
players.append(player1)

player2 = soup.find_all('td', class_='table-body__cell name')[:9]

for i in player2:
    players.append(i.a.text.strip().replace("\n", ''))
players

['Tammy Beaumont',
 'Lizelle Lee',
 'Alyssa Healy',
 'Stafanie Taylor',
 'Meg Lanning',
 'Amy Satterthwaite',
 'Smriti Mandhana',
 'Mithali Raj',
 'Natalie Sciver',
 'Laura Wolvaardt']

In [100]:
#Teams

team1=soup.find('div', class_='rankings-block__banner--nationality')

teams = []
teams.append(team1.text.replace('765', '').replace('\n','').strip())


team2 = soup.find_all('span',class_='table-body__logo-text')[:9]

for i in team2:
    teams.append(i.text)
teams

['ENG', 'SA', 'AUS', 'WI', 'AUS', 'NZ', 'IND', 'IND', 'ENG', 'SA']

In [101]:
#ratings

rating1 = soup.find('div', class_='rankings-block__banner--rating').get_text()

ratings = []
ratings.append(rating1)

rating2 = soup.find_all('td',class_="table-body__cell u-text-right rating")[:9]

for i in rating2:
    ratings.append(i.text)
ratings

['765', '758', '756', '746', '723', '715', '710', '709', '685', '683']

In [102]:
#DataFrame
data=list(zip(players,teams,ratings))

ODI_Players = pd.DataFrame(data=data, columns=['Player_Name','Team','Rating'], index=np.arange(1,11,1))

ODI_Players

          Player_Name Team Rating
1      Tammy Beaumont  ENG    765
2         Lizelle Lee   SA    758
3        Alyssa Healy  AUS    756
4     Stafanie Taylor   WI    746
5         Meg Lanning  AUS    723
6   Amy Satterthwaite   NZ    715
7     Smriti Mandhana  IND    710
8         Mithali Raj  IND    709
9      Natalie Sciver  ENG    685
10    Laura Wolvaardt   SA    683

In [103]:
ODI_Players.to_csv('Women_Batsmen.csv')

### iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [104]:
allrounders = requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder")

allrounders.content
soup = BeautifulSoup(allrounders.content)

In [105]:
#Names
name1 = soup.find('div', class_= 'rankings-block__banner--name-large').get_text()

player = []
player.append(name1)

name2 = soup.find_all('td', class_='table-body__cell rankings-table__name name')[:9]

for i in name2:
    player.append(i.text.replace('\n',''))
player

['Marizanne Kapp',
 'Ellyse Perry',
 'Stafanie Taylor',
 'Natalie Sciver',
 'Deepti Sharma',
 'Jess Jonassen',
 'Ashleigh Gardner',
 'Dane van Niekerk',
 'Sophie Devine',
 'Amelia Kerr']

In [106]:
#team

team1 = soup.find('div',class_='rankings-block__banner--nationality')

team = []    
team.append(team1.text.replace('\n','').strip())

team2 = soup.find_all('span', class_='table-body__logo-text')[:9]

for i in team2:
    team.append(i.text.replace('\n',''))
team

['SA', 'AUS', 'WI', 'ENG', 'IND', 'AUS', 'AUS', 'SA', 'NZ', 'NZ']

In [107]:
#rating

rating1 = soup.find('div', class_='rankings-block__banner--rating').get_text()

rating = []
rating.append(rating1)

rating2 = soup.find_all('td', class_='table-body__cell rating')[:9]

for i in rating2:
    rating.append(i.text.replace('\n',''))
rating

['418', '418', '410', '349', '343', '307', '252', '243', '242', '236']

In [108]:
#DataFrane
data  = list(zip(player,team,rating))

All_Rounders = pd.DataFrame(data = data, columns = ['Player_Name','Team','Rating'], index = np.arange(1,11,1))
All_Rounders

         Player_Name Team Rating
1     Marizanne Kapp   SA    418
2       Ellyse Perry  AUS    418
3    Stafanie Taylor   WI    410
4     Natalie Sciver  ENG    349
5      Deepti Sharma  IND    343
6      Jess Jonassen  AUS    307
7   Ashleigh Gardner  AUS    252
8   Dane van Niekerk   SA    243
9      Sophie Devine   NZ    242
10       Amelia Kerr   NZ    236

In [109]:
All_Rounders.to_csv('Women_allrounders.csv')

### 7. Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating

In [110]:
pages = [str(i) for i in range(1,257)]

In [111]:
for page in pages:
    amazon = requests.get("https://www.amazon.in/s?i=electronics&bbn=1389432031&rh=n%3A1389432031%2Cp_n_condition-type%3A8609960031%2Cp_36%3A-2000000&dc&qid=1624174366&rnid=1318502031&ref=sr_nr_p_36_5" + page + '.html')
    soup = BeautifulSoup(amazon.content,'html.parser')

In [112]:
amazon

### 8. Write a python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day extended forecast display for the city. The data should include period, short description, temperature and description

In [113]:
san = requests.get('https://forecast.weather.gov/MapClick.php?lat=37.77493000000004&lon=-122.41941999999995#.YMngdmgzbIU')
soup = BeautifulSoup(san.content)

In [114]:
#Period

period = soup.find_all('p',class_='period-name')

Period = []

for i in period:
    Period.append(i.text)
Period

['Tonight',
 'Wednesday',
 'WednesdayNight',
 'Thursday',
 'ThursdayNight',
 'Friday',
 'FridayNight',
 'Saturday',
 'SaturdayNight']

In [115]:
#Short Description
desc= soup.find_all('p', class_='short-desc')

shortdesc = []

for i in desc:
    shortdesc.append(i.text)
shortdesc

['Mostly Cloudy',
 'Slight ChanceDrizzle thenSunny',
 'IncreasingClouds',
 'Mostly Sunnythen Sunnyand Breezy',
 'Mostly Clearand Breezythen MostlyCloudy',
 'Mostly Sunny',
 'Partly Cloudy',
 'Mostly Sunny',
 'Partly Cloudy']

In [116]:
#Temperature
tem = soup.find_all('p', class_=['temp temp-high','temp temp-low'])

temp = []

for i in tem:
    temp.append(i.text)
temp

['Low: 57 °F',
 'High: 70 °F',
 'Low: 56 °F',
 'High: 68 °F',
 'Low: 55 °F',
 'High: 68 °F',
 'Low: 56 °F',
 'High: 71 °F',
 'Low: 57 °F']

In [117]:
#Description

descp = soup.find_all('div', class_='col-sm-10 forecast-text')[:9]

description = []

for i in descp:
    description.append(i.text)
description

['Mostly cloudy, with a low around 57. West southwest wind around 11 mph. ',
 'A slight chance of drizzle before 11am.  Partly sunny, then gradually becoming sunny, with a high near 70. West wind 8 to 18 mph, with gusts as high as 23 mph. ',
 'Increasing clouds, with a low around 56. West wind 14 to 18 mph, with gusts as high as 23 mph. ',
 'Mostly cloudy through mid morning, then gradual clearing, with a high near 68. Breezy, with a west wind 13 to 22 mph, with gusts as high as 29 mph. ',
 'Partly cloudy, with a low around 55. Breezy, with a west southwest wind 19 to 24 mph decreasing to 10 to 15 mph after midnight. Winds could gust as high as 31 mph. ',
 'Mostly sunny, with a high near 68.',
 'Partly cloudy, with a low around 56.',
 'Mostly sunny, with a high near 71.',
 'Partly cloudy, with a low around 57.']

In [118]:
#DataFrame
data = list(zip(Period,shortdesc,temp,description))

Sanfrancisco_Weather = pd.DataFrame(data=data, columns =['Period','Short_Desc.','Temperation','Description'], index = np.arange(1,10,1))

Sanfrancisco_Weather

,Period,Short_Desc.,Temperation,Description
1,Tonight,Mostly Cloudy,Low: 57 °F,"Mostly cloudy, with a low around 57. West sout..."
2,Wednesday,Slight ChanceDrizzle thenSunny,High: 70 °F,A slight chance of drizzle before 11am. Partl...
3,WednesdayNight,IncreasingClouds,Low: 56 °F,"Increasing clouds, with a low around 56. West ..."
4,Thursday,Mostly Sunnythen Sunnyand Breezy,High: 68 °F,"Mostly cloudy through mid morning, then gradua..."
5,ThursdayNight,Mostly Clearand Breezythen MostlyCloudy,Low: 55 °F,"Partly cloudy, with a low around 55. Breezy, w..."
6,Friday,Mostly Sunny,High: 68 °F,"Mostly sunny, with a high near 68."
7,FridayNight,Partly Cloudy,Low: 56 °F,"Partly cloudy, with a low around 56."
8,Saturday,Mostly Sunny,High: 71 °F,"Mostly sunny, with a high near 71."
9,SaturdayNight,Partly Cloudy,Low: 57 °F,"Partly cloudy, with a low around 57."

In [119]:
Sanfrancisco_Weather.to_csv('Sanfrancisco_Weather.csv')

### 9. Write a python program to scrape fresher job listings from ‘https://internshala.com/’. It should include job title, company name, CTC, and apply date.

In [120]:
#JobTitle

pages = [str(i) for i in range(1,4)]

Titles = []

for page in pages:
    jobs = requests.get('https://internshala.com/fresher-jobs/page-' + page + '.html')
    soup = BeautifulSoup(jobs.content,'html.parser')

for page in pages:
    title = soup.find_all('div',class_='heading_4_5 profile')
    for i in title:
        Titles.append(i.a.text)

len(Titles)

120

In [121]:
#Company Name

Companies = []

for page in pages:
    company =  soup.find_all('a', class_='link_display_like_text')
    for i in company:
        Companies.append(i.text.replace('\n', '').strip())

len(Companies)

120

In [122]:
#CTC

CTC = []

for page in pages:
    ctc = soup.findAll('div', class_='internship_other_details_container')
    for i in ctc:
        CTC.append(i.text.strip().split('\n')[13].strip())

len(CTC)

120

In [123]:
#ApplyBy

ApplyBy = []

for page in pages:
    apply = soup.findAll('div', class_='internship_other_details_container')
    for i in apply:
        ApplyBy.append(i.text.strip().split('\n')[22].strip())

len(ApplyBy)

120

In [124]:
data =list(zip(Titles, Companies, CTC, ApplyBy))

Fresher_Jobs = pd.DataFrame(data=data, columns=['Job_Title','Company_Name','Annual_CTC','Apply_Date'], index = np.arange(1,121,1))

Fresher_Jobs

,Job_Title,Company_Name,Annual_CTC,Apply_Date
1,Product Developer - Mathematics,Open Door Education,7 - 8 LPA,22 Jul' 21
2,Sales Development Representative,Content Beta,3 - 4 LPA,22 Jul' 21
3,Full Stack Engineer,Softway Solutions Private Limited,5.5 - 9 LPA,22 Jul' 21
4,Junior ReactJS Developer,DeepThought Edutech Ventures Private Limited,3 - 5 LPA,22 Jul' 21
5,Marketing Manager,Saltoro Coffee Roasters,3.2 - 3.5 LPA,22 Jul' 21
...,...,...,...,...
116,Order Processor,InspectHOA,3 LPA,14 Jul' 21
117,Full Stack Developer,Nikulsan Technologies Private Limited,3.5 - 5 LPA,14 Jul' 21
118,Associate Software Developer,IQGateway,3.6 - 10 LPA,11 Jul' 21
119,Reactjs Developer,Startxlabs Technologies Private Limited,3 - 4 LPA,11 Jul' 21
120,Full Stack Developer,RavGins International Private Limited (Wobb.ai),3.3 - 4 LPA,11 Jul' 21

In [125]:
Fresher_Jobs.to_csv('Fresher_Jobs.csv')

### 10. Write a python program to scrape house details from mentioned url. It should include house title, location, area, emi and price

In [126]:
r= requests.get('https://www.nobroker.in/property/sale/bangalore/Electronic%20City?type=BHK4&searchParam=W3sibGF0IjoxMi44NDUyMTQ1LCJsb24iOjc3LjY2MDE2OTUsInBsYWNlSWQiOiJDaElKdy1GUWQ0cHNyanNSSGZkYXpnXzhYRW8iLCJwbGFjZU5hbWUiOiJFbGVjdHJvbmljIENpdHkifV0=&propertyAge=0&radius=2.0')
soup = BeautifulSoup(r.content)

In [127]:
#Title

title = soup.find_all('h2', class_='heading-6 font-semi-bold nb__1AShY')

titlename = []

for i in title:
    titlename.append(i.text)
titlename

['4 BHK In Independent House  For Sale  In Naganathapura ',
 '4 BHK For Sale  In Daadys Garden In Electronic City ',
 '4 BHK In Independent House  For Sale  In Sarjapura ',
 '4 BHK Flat  For Sale  In Electronic City ',
 '4 BHK In Independent House  For Sale  In Electronic City,  ',
 '4 BHK In Independent House  For Sale  In Electronic City ',
 '4 BHK Apartment  For Sale  In Gopalan Gardenia In Electronic City ',
 '4 BHK Flat  For Sale  In Electronic City ',
 '4 BHK Flat  For Sale  In Heena Enclave In Electronic City ',
 '4 BHK In Independent House  For Sale  In Ananth Nagar ']

In [128]:
#For Location

location = soup.find_all('div', class_='nb__2CMjv')

locations= []

for i in location:
    locations.append(i.text.strip())
locations

['Independent House, Doddanagamangala Rd opposite Sobha Silicon Oasis',
 'Daadys Garden\xa0 Kammasandra Rd, Kammasandra, Electronic City, Bengaluru, Karnataka 560100, India',
 'Independent House,  Shantipura Village , S.P Layout , near  Shantipura Panchayat Office',
 'Standalone Building, Shikaripalya, near Shams School',
 'Independent House,  Krishna reddy layout-Near Maruti Suzuki ARENA (Surakshaa Car Care, Bengaluru, Electronic City)',
 'Independent House, Dhruv Dhama LayoutNear Heddari Icon',
 'Gopalan Gardenia\xa0 Gopalan gardenia, Veerasandra Main Rd, Veer Sandra, Electronic City, Bengaluru, Karnataka 560100, India',
 'Standalone Building, Konappana Agrahara, Near Saffron Supermarket',
 'Neeladri Nagar,Near Pioneer Sun Blossom',
 'Independent House, Glass factory Outlet nd cross Near Grand Mart']

In [129]:
#Area
area= soup.find_all('div', class_='nb__3oNyC', limit=None)

areas= []

for i in area:
    areas.append(i.text.strip())
areas

['1,200 sqft',
 '2,600 sqft',
 '1,100 sqft',
 '1,400 sqft',
 '2,500 sqft',
 '2,400 sqft',
 '2,650 sqft',
 '1,120 sqft',
 '2,350 sqft',
 '2,200 sqft']

In [130]:
#EMI

emi = soup.find_all('div', id='roomType', class_='font-semi-bold heading-6')

Emi = []

for i in emi:
    Emi.append(i.text)
Emi

['₹45,851/Month',
 '₹85,971/Month',
 '₹40,120/Month',
 '₹20,060/Month',
 '₹1.43 Lacs/Month',
 '₹51,583/Month',
 '₹63,045/Month',
 '₹28,657/Month',
 '₹71,643/Month',
 '₹56,168/Month']

In [131]:
#PRICE

Price = []

price = soup.find_all('div', class_='nb__2NPHR',id='minDeposit')

for rupees in price:
    Price.append(rupees.find('span').text)
Price

['₹80 Lacs',
 '₹1.5 Crores',
 '₹70 Lacs',
 '₹35 Lacs',
 '₹2.5 Crores',
 '₹90 Lacs',
 '₹1.1 Crores',
 '₹50 Lacs',
 '₹1.25 Crores',
 '₹98 Lacs']

In [132]:
data = list(zip(titlename,locations,areas,Emi,Price ))

House_Details = pd.DataFrame(data =data, columns=['Title','Location','Area','EMI','Price'], index =np.arange(1,11,1))

House_Details

,Title,Location,Area,EMI,Price
1,4 BHK In Independent House For Sale In Nagan...,"Independent House, Doddanagamangala Rd opposit...","1,200 sqft","₹45,851/Month",₹80 Lacs
2,4 BHK For Sale In Daadys Garden In Electronic...,"Daadys Garden Kammasandra Rd, Kammasandra, El...","2,600 sqft","₹85,971/Month",₹1.5 Crores
3,4 BHK In Independent House For Sale In Sarja...,"Independent House, Shantipura Village , S.P L...","1,100 sqft","₹40,120/Month",₹70 Lacs
4,4 BHK Flat For Sale In Electronic City,"Standalone Building, Shikaripalya, near Shams ...","1,400 sqft","₹20,060/Month",₹35 Lacs
5,4 BHK In Independent House For Sale In Elect...,"Independent House, Krishna reddy layout-Near ...","2,500 sqft",₹1.43 Lacs/Month,₹2.5 Crores
6,4 BHK In Independent House For Sale In Elect...,"Independent House, Dhruv Dhama LayoutNear Hedd...","2,400 sqft","₹51,583/Month",₹90 Lacs
7,4 BHK Apartment For Sale In Gopalan Gardenia...,"Gopalan Gardenia Gopalan gardenia, Veerasandr...","2,650 sqft","₹63,045/Month",₹1.1 Crores
8,4 BHK Flat For Sale In Electronic City,"Standalone Building, Konappana Agrahara, Near ...","1,120 sqft","₹28,657/Month",₹50 Lacs
9,4 BHK Flat For Sale In Heena Enclave In Elec...,"Neeladri Nagar,Near Pioneer Sun Blossom","2,350 sqft","₹71,643/Month",₹1.25 Crores
10,4 BHK In Independent House For Sale In Anant...,"Independent House, Glass factory Outlet nd cro...","2,200 sqft","₹56,168/Month",₹98 Lacs

In [133]:
House_Details.to_csv('House_Details.csv')