### WEB SCRAPING ASSIGNMENT-2
#### Sahib Hussain
#### Internship 17

In [1]:
!pip install selenium
import pandas as pd
import numpy as np
from selenium import webdriver
driver = webdriver.Chrome(r"C:\Users\OWNER\Downloads\chromedriver.exe")

Requirement already satisfied: selenium in c:\users\owner\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\owner\anaconda3\lib\site-packages (from selenium) (1.25.11)

In [35]:
import time
from selenium.common.exceptions import NoSuchElementException

### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [11]:
# 1. first get the webpage https://www.naukri.com/

In [10]:
driver.get('https://www.naukri.com/')

In [12]:
#2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.

In [13]:
Job = driver.find_element_by_id('qsb-keyword-sugg')
Job

In [14]:
Job.send_keys('Data Analyst')

In [17]:
location = driver.find_element_by_id('qsb-location-sugg')
location.send_keys('Bangalore')

In [19]:
#3. Then click the search button.

In [18]:
button = driver.find_element_by_xpath("//button[@class='btn']")
button.click()

In [20]:
#4. Then scrape the data for the first 10 jobs results you get.

In [33]:
#Titles
titles = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")[:10]
titles

[<selenium.webdriver.remote.webelement.WebElement (session="dd7e32013d294fd0780ce0bdbbf9895f", element="43b6fc05-53a0-4a11-a111-11dbb42530c9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dd7e32013d294fd0780ce0bdbbf9895f", element="6738a074-b1d7-4ab6-861d-259fd9eadd19")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dd7e32013d294fd0780ce0bdbbf9895f", element="642fd5e7-1eb0-4d3b-897f-bd0199aebb72")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dd7e32013d294fd0780ce0bdbbf9895f", element="d257726f-f012-4070-8686-42814ddd4ba4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dd7e32013d294fd0780ce0bdbbf9895f", element="9277ecc3-5f0c-49fc-bc02-ec7c2ab19e32")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dd7e32013d294fd0780ce0bdbbf9895f", element="6d3624e3-7c8b-4a97-a1df-2bcc4790d1f2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dd7e32013d294fd0780ce0bdbbf9895f", element="33fe0ae3-43be-46ed-aebb-960c721251ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dd7e32013d294fd0780ce0bdbbf9895f", element="ffa883b2-520b-4945-bf56-b92d74806eb1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dd7e32013d294fd0780ce0bdbbf9895f", element="aafd0958-f02c-4c74-afbb-bca56fb789bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dd7e32013d294fd0780ce0bdbbf9895f", element="2c1d092a-957c-4246-ab00-897cf17a69f1")>]

In [34]:
Titles = []

for i in titles:
    Titles.append(i.text)

In [35]:
Titles

['Business Analyst / Data Analyst - SQL Queries, Power BI & Python exp.',
 'Senior Data Analyst',
 'Immediate job openings For Partner Consultant - Sizing(Data Analyst) ',
 'Data Analyst',
 'Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Hiring- SR Data Analyst /Bangalore Start Up Company',
 'Senior Data Analyst',
 'Data Analyst, Component Engineering']

In [41]:
#Location
loc = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")[:10]
loc

[<selenium.webdriver.remote.webelement.WebElement (session="dd7e32013d294fd0780ce0bdbbf9895f", element="9b26aff0-2e76-4ba3-a3a2-ad440cd855b6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dd7e32013d294fd0780ce0bdbbf9895f", element="15c0e6f0-7647-4d1c-9e21-9e33f5839784")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dd7e32013d294fd0780ce0bdbbf9895f", element="dbff4128-9896-4e17-9896-f1779be96f84")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dd7e32013d294fd0780ce0bdbbf9895f", element="e9b2a1ad-d51e-41da-a8c4-e982dd9371a8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dd7e32013d294fd0780ce0bdbbf9895f", element="18cf897a-4a7d-405a-90ba-b9e57f8d0e4e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dd7e32013d294fd0780ce0bdbbf9895f", element="525b7d06-fe1d-47a2-8a9a-3e2bcda605a3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dd7e32013d294fd0780ce0bdbbf9895f", element="4379040e-5c5d-4cc1-ab40-4ad2b2091093")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dd7e32013d294fd0780ce0bdbbf9895f", element="42cf8010-002f-4c5f-86ed-02f050302bb1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dd7e32013d294fd0780ce0bdbbf9895f", element="0031e6cc-0cc1-4714-bfef-8bc34445f63c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dd7e32013d294fd0780ce0bdbbf9895f", element="ab2924b3-44cd-4abc-8dd8-073e3b216a85")>]

In [42]:
Location = []

for i in loc:
    Location.append(i.text)

In [43]:
Location

['Chennai, Coimbatore, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Marathahalli)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(2nd Phase JP Nagar)',
 'Bangalore/Bengaluru']

In [44]:
#Company Name

In [45]:
comp = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")[:10]

In [46]:
comp

[<selenium.webdriver.remote.webelement.WebElement (session="dd7e32013d294fd0780ce0bdbbf9895f", element="23daf305-75a8-452b-ba85-b09ab3b2cd11")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dd7e32013d294fd0780ce0bdbbf9895f", element="d89255dd-6b65-4857-aebd-5caf47338717")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dd7e32013d294fd0780ce0bdbbf9895f", element="bd97f031-d608-49a0-bcc1-e21c808967e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dd7e32013d294fd0780ce0bdbbf9895f", element="471b5ee2-e39d-4ac5-b86c-b77633ca9a7e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dd7e32013d294fd0780ce0bdbbf9895f", element="1677533b-3103-4ffe-8a9b-3bcb5f37c33c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dd7e32013d294fd0780ce0bdbbf9895f", element="3caf3605-c486-4fd9-a979-1c77ff479bc3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dd7e32013d294fd0780ce0bdbbf9895f", element="a5368c34-bb7a-4726-9bb5-25f7bbf7db34")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dd7e32013d294fd0780ce0bdbbf9895f", element="e7fe9ae0-9f1e-40f6-9ffa-67f172d7308d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dd7e32013d294fd0780ce0bdbbf9895f", element="57f46335-11f1-4f2f-ae5a-9f97a92e76e9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dd7e32013d294fd0780ce0bdbbf9895f", element="abd16925-5716-4124-87a3-76275303319b")>]

In [47]:
Company = []

for i in comp:
    Company.append(i.text)
Company

['AN INFRACON PRIVATE LIMITED',
 'Flipkart Internet Private Limited',
 'RANDSTAD INDIA PVT LTD',
 'Philips India Limited',
 'Applied Materials',
 'Microland Limited',
 'Verizon Data Services India Pvt.Ltd',
 'Jobs Territory',
 'Liventus, Inc.',
 'Rockwell Automation']

In [48]:
#Experience Required

In [49]:
exp = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")[:10]
exp

[<selenium.webdriver.remote.webelement.WebElement (session="dd7e32013d294fd0780ce0bdbbf9895f", element="7efce050-3c3a-4ef7-9bdf-baead8b5cdf1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dd7e32013d294fd0780ce0bdbbf9895f", element="4f0508a4-c1a0-4134-b92e-bae02425e00b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dd7e32013d294fd0780ce0bdbbf9895f", element="15c695e0-1ad5-4300-bec5-ed780ed2cbab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dd7e32013d294fd0780ce0bdbbf9895f", element="1cdc72f4-ab9d-4278-be9f-c413cbcdbdf7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dd7e32013d294fd0780ce0bdbbf9895f", element="56a9399a-9386-4193-bb81-688739c918d2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dd7e32013d294fd0780ce0bdbbf9895f", element="43691683-eea8-4619-a145-8f0fe6943984")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dd7e32013d294fd0780ce0bdbbf9895f", element="c8054f4e-21a8-4d0b-bc97-9d530a47ba1d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dd7e32013d294fd0780ce0bdbbf9895f", element="1ef76c64-9fb0-411e-9d8d-8b7be80e31af")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dd7e32013d294fd0780ce0bdbbf9895f", element="77f55884-8f1d-4886-9d62-cc2d3df27f05")>,
 <selenium.webdriver.remote.webelement.WebElement (session="dd7e32013d294fd0780ce0bdbbf9895f", element="6d93a775-9d11-491f-975c-3ba978f7d7e4")>]

In [50]:
Exp = []

for i in exp:
    Exp.append(i.text)
Exp

['1-5 Yrs',
 '2-5 Yrs',
 '1-5 Yrs',
 '3-6 Yrs',
 '7-10 Yrs',
 '3-5 Yrs',
 '3-6 Yrs',
 '4-9 Yrs',
 '5-8 Yrs',
 '2-3 Yrs']

In [51]:
data = list(zip(Titles,Location,Company,Exp))

In [52]:
Data_Analyst = pd.DataFrame(data=data, columns = ['Titles','Location','Company','Experience'], index = np.arange(1,11,1))

In [53]:
Data_Analyst

,Titles,Location,Company,Experience
1,"Business Analyst / Data Analyst - SQL Queries,...","Chennai, Coimbatore, Bangalore/Bengaluru",AN INFRACON PRIVATE LIMITED,1-5 Yrs
2,Senior Data Analyst,Bangalore/Bengaluru,Flipkart Internet Private Limited,2-5 Yrs
3,Immediate job openings For Partner Consultant ...,Bangalore/Bengaluru(Marathahalli),RANDSTAD INDIA PVT LTD,1-5 Yrs
4,Data Analyst,Bangalore/Bengaluru,Philips India Limited,3-6 Yrs
5,Data Analyst,Bangalore/Bengaluru,Applied Materials,7-10 Yrs
6,Senior Data Analyst,Bangalore/Bengaluru,Microland Limited,3-5 Yrs
7,Senior Data Analyst,Bangalore/Bengaluru,Verizon Data Services India Pvt.Ltd,3-6 Yrs
8,Hiring- SR Data Analyst /Bangalore Start Up Co...,Bangalore/Bengaluru,Jobs Territory,4-9 Yrs
9,Senior Data Analyst,Bangalore/Bengaluru(2nd Phase JP Nagar),"Liventus, Inc.",5-8 Yrs
10,"Data Analyst, Component Engineering",Bangalore/Bengaluru,Rockwell Automation,2-3 Yrs

### Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [54]:
# 1. first get the webpage https://www.naukri.com/

In [115]:
driver.get('https://www.naukri.com/')

In [15]:
#2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field.

In [116]:
Job = driver.find_element_by_id('qsb-keyword-sugg')
Loc = driver.find_element_by_id('qsb-location-sugg')

In [117]:
Job.send_keys('Data Scientist')
Loc.send_keys('Bangalore')

In [118]:
#3.

In [119]:
Search =  driver.find_element_by_xpath("//button[@class='btn']")
Search.click()

In [120]:
# 4. Then scrape the data for the first 10 jobs results you get.

In [138]:
#urls
URL = []

url =  driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")[:10]

for i in url:
    URL.append(i.get_attribute('href'))
URL

['https://www.naukri.com/job-listings-data-scientist-data-analyst-business-analyst-inflexion-analytix-private-limited-hyderabad-secunderabad-chennai-bangalore-bengaluru-0-to-3-years-020721003625?src=jobsearchDesk&sid=16255024631527046&xp=1&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-24-7-customer-private-ltd-bangalore-bengaluru-5-to-10-years-280621501037?src=jobsearchDesk&sid=16255024631527046&xp=2&px=1',
 'https://www.naukri.com/job-listings-senior-lead-data-scientist-machine-learning-deep-learning-squareroot-consulting-pvt-ltd-bangalore-bengaluru-1-to-6-years-010320600083?src=jobsearchDesk&sid=16255024631527046&xp=3&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-fractal-analytics-ltd-mumbai-gurgaon-gurugram-bangalore-bengaluru-4-to-8-years-290621500776?src=jobsearchDesk&sid=16255024631527046&xp=4&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-nielsen-india-private-limited-chennai-bangalore-bengaluru-vadodara-baroda-3-to-5-years-290621001647?src=jobsearchDesk&sid=16255024631527046&xp=5&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-machine-learning-data-mining-wrackle-technologies-pvt-ltd-bangalore-bengaluru-6-to-11-years-080221900886?src=jobsearchDesk&sid=16255024631527046&xp=6&px=1',
 'https://www.naukri.com/job-listings-data-scientist-baker-hughes-incorporated-bangalore-bengaluru-2-to-6-years-050721500685?src=jobsearchDesk&sid=16255024631527046&xp=7&px=1',
 'https://www.naukri.com/job-listings-data-scientist-consumer-analytics-eli-lilly-and-company-bangalore-bengaluru-4-to-6-years-050721500501?src=jobsearchDesk&sid=16255024631527046&xp=8&px=1',
 'https://www.naukri.com/job-listings-data-scientist-i-ani-technologies-pvt-ltd-olacabs-bangalore-bengaluru-3-to-7-years-050721500669?src=jobsearchDesk&sid=16255024631527046&xp=9&px=1',
 'https://www.naukri.com/job-listings-data-scientist-iv-conduent-bangalore-bengaluru-10-to-15-years-030721500406?src=jobsearchDesk&sid=16255024631527046&xp=10&px=1']

In [154]:
Title = []
Location = []
Company = []
Job_Desc = []

for i in URL:
    driver.get(i)
    time.sleep(7)
   
    #Title
    try:
        t = driver.find_element_by_xpath("//h1[@class='jd-header-title']")
        Title.append(t.text)
    except NoSuchElementException:
        t = driver.find_element_by_xpath("//h1[@class='av-special-heading-tag']")
        Title.append(t.text)
    
    #Location
    try:
        loc = driver.find_element_by_xpath("//div[@class='loc']")
        Location.append(loc.text)
    except NoSuchElementException:
        Location.append("-")
    
    #Company Name
    try:
        comp = driver.find_element_by_xpath("//div[@class='jd-header-comp-name']")
        Company.append(comp.text)
    except NoSuchElementException:
        comp = driver.find_element_by_xpath("//p[@class='cpName f14']")
        Company.append(comp.text)
        
    #Job_Desc
    try:
        desc = driver.find_element_by_xpath("//section[@class='job-desc']")
        Job_Desc.append(desc.text.replace('\n',''))
    except:
        desc = driver.find_element_by_xpath("//div[@class='nConfig_textblock ']")
        Job_Desc.append(desc.text.replace('\n',''))

In [155]:
len(Title)

10

In [156]:
len(Location)

10

In [157]:
len(Company)

10

In [158]:
len(Job_Desc)

10

In [159]:
data = list(zip(Title,Location,Company,Job_Desc))

Data_Science_Banglore = pd.DataFrame(data = data, columns = ['Title','Location','Company','Job_Desc'], index = np.arange(1,11,1))

Data_Science_Banglore

,Title,Location,Company,Job_Desc
1,Data Scientist / Data Analyst -Business Analyst,"Hyderabad/Secunderabad, Chennai, Bangalore/Ben...",Inflexion Analytix Private Limited,Job descriptionJob descriptionJob Role: Data S...
2,Senior Data Scientist,Bangalore/Bengaluru,24/7 Customer3.6(1199 Reviews),Job descriptionBrief about the RoleThe Platfor...
3,Senior/Lead Data Scientist - Machine Learning/...,Bangalore/Bengaluru,Squareroot Consulting Pvt Ltd.,Job descriptionRoles and ResponsibilitiesHirin...
4,Senior Data Scientist,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",Fractal Analytics3.9(97 Reviews),Job descriptionThe Artificial Intelligence and...
5,Senior Data Scientist,"Chennai, Bangalore/Bengaluru, Vadodara",Nielsen3.8(485 Reviews),Job descriptionABOUT THIS JOBNielsenIQ Advance...
6,Lead Data Scientist - Machine Learning/ Data M...,Bangalore/Bengaluru,Wrackle Technologies Pvt Ltd,Job descriptionRoles and ResponsibilitiesRequi...
7,Data Scientist,Bangalore/Bengaluru,Baker Hughes Incorporated4.0(238 Reviews),"Job descriptionAs a Data Scientist, you would ..."
8,Data Scientist - Consumer Analytics,Bangalore/Bengaluru,Eli Lilly and Company4.2(116 Reviews),Job descriptionCore ResponsibilitiesModel data...
9,Data Scientist I,Bangalore/Bengaluru,ANI Technologies Pvt Ltd (Olacabs)4.0(1213 Rev...,Job descriptionThe Data Science Machine Learni...
10,Data Scientist IV,Bangalore/Bengaluru,Conduent3.5(1036 Reviews),Job descriptionWe are looking for an Azure Dat...

In [160]:
driver.close()

### Q3: In this question you have to scrape data using the filters available on the webpage as shown below:

In [24]:
# 1. first get the webpage https://www.naukri.com/

In [25]:
driver.get('https://www.naukri.com/')

In [26]:
 # 2. Enter “Data Scientist” in “Skill,Designations,Companies” field .

In [27]:
Job = driver.find_element_by_id('qsb-keyword-sugg')
Job.send_keys('Data Scientist')

In [10]:
# 3. Then click the search button.

In [28]:
Search =  driver.find_element_by_xpath("//button[@class='btn']")
Search.click()

In [12]:
 # 4. Then apply the location filter and salary filter by checking the respective boxes

In [29]:
location = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[2]/div[2]/div[2]/label/p/span[1]')
location.click()

In [30]:
# The salary filter to be used is “3-6” lakhs

In [31]:
salary = driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[3]/div[2]/div[2]/label/p/span[1]')
salary.click()

In [33]:
## 5. Then scrape the data for the first 10 jobs results you get.
##You have to scrape the job-title, job-location, company_name, experience_required.

In [34]:
title = driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")[:10]

Titles = []

for i in title:
    Titles.append(i.text)
Titles

['Only Fresher / Data Scientist / Data Analyst / Analytics - MNC OSC',
 'Data Scientist / Data Analyst -Business Analyst',
 'Data Scientist - Text NLP | Noida',
 'Data analytics / Data scientist intern (work from Home)',
 'Data Scientist - Machine Learning/NLP',
 'Data Scientist',
 'Data Scientist - Machine Learning/NLP',
 'Chaayos is Looking For Data Scientist',
 'Data Scientist',
 'Data Engineers /Data Scientist - CES IT LTD - CMMI LVL 5']

In [35]:
#Location

In [36]:
loc = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']//span")[:10]

Location = []

for i in loc:
    Location.append(i.text)
Location

['Noida, Gurgaon/Gurugram, Delhi / NCR',
 'Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru',
 'Noida',
 'Kolkata, Bangalore/Bengaluru, Delhi / NCR',
 'Gurgaon/Gurugram',
 'Noida',
 'Gurgaon/Gurugram',
 'New Delhi',
 'Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)']

In [37]:
#Company

In [38]:
comp = driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")[:10]

Company = []

for i in comp:
    Company.append(i.text)
Company

['GABA Consultancy services',
 'Inflexion Analytix Private Limited',
 'Acidaes Solutions Pvt. Ltd.',
 'TalkValley LLC',
 'TalPro',
 'NEC CORPORATION INDIA PRIVATE LIMITED',
 'TalPro',
 'Chaayos (Sunshine Teahouse Pvt. Ltd.)',
 'Fractal Analytics',
 'CES Ltd.']

In [39]:
#Experience required

In [40]:
exp = driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']//span")[:10]

Exp = []

for i in exp:
    Exp.append(i.text)
Exp

['0-0 Yrs',
 '0-3 Yrs',
 '3-5 Yrs',
 '0-5 Yrs',
 '2-6 Yrs',
 '3-8 Yrs',
 '2-4 Yrs',
 '0-5 Yrs',
 '3-7 Yrs',
 '3-5 Yrs']

In [41]:
data = list(zip(Titles,Location,Company,Exp))

In [42]:
Data_Science_NCR = pd.DataFrame(data=data, columns = ['Titles','Location','Company','Experience'], index = np.arange(1,11,1))

In [43]:
Data_Science_NCR

,Titles,Location,Company,Experience
1,Only Fresher / Data Scientist / Data Analyst /...,"Noida, Gurgaon/Gurugram, Delhi / NCR",GABA Consultancy services,0-0 Yrs
2,Data Scientist / Data Analyst -Business Analyst,"Mumbai, Hyderabad/Secunderabad, Pune, Gurgaon/...",Inflexion Analytix Private Limited,0-3 Yrs
3,Data Scientist - Text NLP | Noida,Noida,Acidaes Solutions Pvt. Ltd.,3-5 Yrs
4,Data analytics / Data scientist intern (work f...,"Kolkata, Bangalore/Bengaluru, Delhi / NCR",TalkValley LLC,0-5 Yrs
5,Data Scientist - Machine Learning/NLP,Gurgaon/Gurugram,TalPro,2-6 Yrs
6,Data Scientist,Noida,NEC CORPORATION INDIA PRIVATE LIMITED,3-8 Yrs
7,Data Scientist - Machine Learning/NLP,Gurgaon/Gurugram,TalPro,2-4 Yrs
8,Chaayos is Looking For Data Scientist,New Delhi,Chaayos (Sunshine Teahouse Pvt. Ltd.),0-5 Yrs
9,Data Scientist,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",Fractal Analytics,3-7 Yrs
10,Data Engineers /Data Scientist - CES IT LTD - ...,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",CES Ltd.,3-5 Yrs

### Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [44]:
# 1. first get the webpage https://www.glassdoor.co.in/index.htm

In [45]:
driver.get('https://www.glassdoor.co.in/index.htm')

In [46]:
#Login

In [47]:
google = driver.find_element_by_xpath('/html/body/div[2]/div/div/div/div/div[1]/article/section[1]/div[2]/div/div/div/div/div/div/div[1]/div/div[2]/button/span[2]')
google.click()

In [52]:
email = driver.find_elements_by_xpath("//input[@id = 'whsOnd zHQkBf']")

In [64]:
## 2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” in “location” field.

In [61]:
search = driver.find_element_by_xpath("//div[@class='d-flex d-lg-none pr-std']")

In [63]:
search.click()

In [65]:
job = driver.find_element_by_id('scKeyword')

In [66]:
job.send_keys('Data Scientist')

In [67]:
loc= driver.find_element_by_id('scLocation')

In [68]:
loc.send_keys('Noida')

In [71]:
#3. Then click the search button. You will land up in the below page:

In [69]:
find = driver.find_element_by_id('prefix__icon-arrow-1')
find.click()

In [70]:
#4. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [72]:
#Company Name

In [73]:
comp = driver.find_elements_by_xpath("//a[@class='jobLink css-1rd3saf eigr9kq2']")[:10]

Company = []

for i in comp:
    Company.append(i.text)
Company

['decision analytics consultant',
 'Data Engineer - Python with Azure ADF',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Assistant Manager - Data Scientist',
 'Data Scientist - Computer Vision',
 'Data Scientist',
 'Data Scientists',
 'Data Scientist']

In [74]:
#No. of days ago when job was posted

In [76]:
days = driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")[:10]

Days = []

for i in days:
    Days.append(i.text)
Days

['4d', '27d', '9d', '4d', '5d', '18d', '24d', '2d', '12d', '13d']

In [77]:
# Rating of the company

In [78]:
ratings = driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")[:10]

Ratings = []

for i in ratings:
    Ratings.append(i.text)
Ratings

['3.9', '4.0', '4.1', '4.1', '3.9', '3.8', '3.8', '3.8', '3.0', '5.0']

In [79]:
# 5. Finally create a dataframe of the scraped data.

In [80]:
data = list(zip(Company,Days,Ratings))

In [82]:
Glassdoor_Jobs = pd.DataFrame(data= data, columns = ['Company','No. of Days Ago','Ratings'], index = np.arange(1,11,1))
Glassdoor_Jobs

                                  Company No. of Days Ago Ratings
1           decision analytics consultant              4d     3.9
2   Data Engineer - Python with Azure ADF             27d     4.0
3                          Data Scientist              9d     4.1
4                          Data Scientist              4d     4.1
5                          Data Scientist              5d     3.9
6      Assistant Manager - Data Scientist             18d     3.8
7        Data Scientist - Computer Vision             24d     3.8
8                          Data Scientist              2d     3.8
9                         Data Scientists             12d     3.0
10                         Data Scientist             13d     5.0

### Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.

In [83]:
## You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary.

In [84]:
#1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm

In [92]:
driver.get('https://www.glassdoor.co.in/Salaries/index.htm')

In [86]:
# 2. Enter “Data Scientist” in Job title field and “Noida” in location field.

In [93]:
job = driver.find_element_by_id('KeywordSearch')
loc = driver.find_element_by_id('LocationSearch')
job.send_keys('Data Scientist')
loc.send_keys('Noida')

In [94]:
# 3. Click the search button.

In [96]:
search = driver.find_element_by_id('HeroSearchButton')
search.click()

In [91]:
# 5. Scrape data for first 10 companies. Scrape the min salary, max salary, company name, Average salary and rating of the company

In [98]:
minsal = driver.find_elements_by_xpath("//span[@class='d-block d-lg-none m-0 css-1b6bxoo']")[:10]

In [99]:
minsal

[<selenium.webdriver.remote.webelement.WebElement (session="a135af24081c846333339ada2b6345a7", element="f1511a00-fd01-4758-9f4d-4d3e82c13cbf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a135af24081c846333339ada2b6345a7", element="1fb955e4-f079-4f61-9601-44262ec319cb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a135af24081c846333339ada2b6345a7", element="78b6ca88-a369-46ab-965c-869418daf1da")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a135af24081c846333339ada2b6345a7", element="5eb15c57-1a39-44e4-a49e-6d3b40165e37")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a135af24081c846333339ada2b6345a7", element="9d1b1370-c6ca-4895-a386-e643f85a423e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a135af24081c846333339ada2b6345a7", element="8c1cb01a-c06e-4a6e-9b6b-b6bf356f1bb2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a135af24081c846333339ada2b6345a7", element="fd0aca1e-a698-46c1-96a1-be7d769917a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a135af24081c846333339ada2b6345a7", element="74b8e27c-47a5-4300-b2b8-8a2880cb6349")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a135af24081c846333339ada2b6345a7", element="fae2a099-0e39-44c9-90de-6cb67d167641")>,
 <selenium.webdriver.remote.webelement.WebElement (session="a135af24081c846333339ada2b6345a7", element="0adbb469-9e41-461b-82f2-034087f503d7")>]

In [107]:
Min = []

for i in minsal:
    Min.append(i.text[7:10])
Min

['₹6L', '₹3L', '₹6L', '₹5L', '₹4L', '₹11', '₹5L', '₹4L', '₹2L', '₹6L']

In [113]:
Max = []

for i in minsal:
    Max.append(i.text[12:].replace('-','').strip())
Max

['₹27L',
 '₹13L',
 '₹22L',
 '₹1Cr',
 '₹16L',
 '₹15L',
 '₹15L',
 '₹22L',
 '₹18L',
 '₹15L']

In [114]:
#Company Name

In [116]:
comp= driver.find_elements_by_xpath("//a[@class='css-f3vw95 e1aj7ssy3']")[:10]

Company = []

for i in comp:
    Company.append(i.text)
Company

['IBM',
 'Tata Consultancy Services',
 'Accenture',
 'Delhivery',
 'Ericsson-Worldwide',
 'UnitedHealth Group',
 'Valiance Solutions',
 'Optum Global Solutions',
 'ZS Associates',
 'EXL Service']

In [117]:
# Average salary

In [131]:
sal= driver.find_elements_by_xpath("//div[@class='col-12 col-lg-4 px-lg-0 d-flex align-items-baseline']")[:10]

Avesal = []

for i in sal:
    Avesal.append(i.text.replace('\n','').strip())
Avesal

['₹9,00,000 /yr',
 '₹6,15,289 /yr',
 '₹11,63,336 /yr',
 '₹12,18,244 /yr',
 '₹7,39,238 /yr',
 '₹13,38,279 /yr',
 '₹8,63,750 /yr',
 '₹13,28,697 /yr',
 '₹11,42,356 /yr',
 '₹11,46,073 /yr']

In [132]:
# Ratings

In [134]:
ratings = driver.find_elements_by_xpath("//span[@class='m-0 css-kyx745']")[:10]

Ratings = []

for i in ratings:
    Ratings.append(i.text)
Ratings

['3.9', '3.9', '4', '3.9', '4', '3.7', '4.2', '3.9', '4', '3.6']

In [135]:
data = list(zip(Min, Max, Company,Avesal,Ratings))

In [136]:
DataScientist_Glassdor = pd.DataFrame(data = data, columns = ['Min_Salary','Max_Salary','Company_Name','Average_Salary','Ratings'], index = np.arange(1,11,1))

In [137]:
DataScientist_Glassdor

   Min_Salary Max_Salary               Company_Name  Average_Salary Ratings
1         ₹6L       ₹27L                        IBM   ₹9,00,000 /yr     3.9
2         ₹3L       ₹13L  Tata Consultancy Services   ₹6,15,289 /yr     3.9
3         ₹6L       ₹22L                  Accenture  ₹11,63,336 /yr       4
4         ₹5L       ₹1Cr                  Delhivery  ₹12,18,244 /yr     3.9
5         ₹4L       ₹16L         Ericsson-Worldwide   ₹7,39,238 /yr       4
6         ₹11       ₹15L         UnitedHealth Group  ₹13,38,279 /yr     3.7
7         ₹5L       ₹15L         Valiance Solutions   ₹8,63,750 /yr     4.2
8         ₹4L       ₹22L     Optum Global Solutions  ₹13,28,697 /yr     3.9
9         ₹2L       ₹18L              ZS Associates  ₹11,42,356 /yr       4
10        ₹6L       ₹15L                EXL Service  ₹11,46,073 /yr     3.6

### Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount

In [138]:
# 1. Go to flipkart webpage by url https://www.flipkart.com/

In [2]:
driver.get('https://www.flipkart.com/')

In [3]:
# 2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon

In [3]:
number = driver.find_element_by_xpath('/html/body/div[2]/div/div/div/div/div[2]/div/form/div[1]/input')

In [4]:
number.send_keys('9641731644')

In [5]:
otp = driver.find_element_by_xpath('/html/body/div[2]/div/div/div/div/div[2]/div/form/div[5]/button')
otp.click()

In [6]:
nuum= driver.find_element_by_xpath('/html/body/div[2]/div/div/div/div/div[2]/div/div/form/div/div[1]/input')

In [7]:
nuum.send_keys('421366')

In [8]:
Search = driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
Search.send_keys('sunglasses')

In [11]:
button = driver.find_element_by_xpath("//button[@class='L0Z3Pu']")
button.click()

In [12]:
page = []
url = driver.find_elements_by_xpath("//div[@class='_2MImiq']//a")[:3]
for i in url:
    page.append(i.get_attribute("href"))
page

['https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=1',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2',
 'https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3']

In [80]:
#Brand

In [22]:
Brands = []
time.sleep(20)

for page in range(1,4,1):
    brand = driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    nxtbtn = driver.find_elements_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav')[-1].click()
    for i in brand:
        Brands.append(i.text)

In [23]:
Brands = Brands[1:101]

In [24]:
len(Brands)

100

In [25]:
Brands

['Ray-Ban',
 'Fastrack',
 'PIRASO',
 'ROYAL SON',
 'GANSTA',
 'elegante',
 'PIRASO',
 'elegante',
 'GANSTA',
 'Silver Kartz',
 'PIRASO',
 'Fastrack',
 'GANSTA',
 'Ray-Ban',
 'AISLIN',
 'Ray-Ban',
 'elegante',
 'IRUS by IDEE',
 'NuVew',
 'ROYAL SON',
 'Fastrack',
 'ROZZETTA CRAFT',
 'AISLIN',
 'AISLIN',
 'ROYAL SON',
 'Fastrack',
 'VINCENT CHASE',
 'FOSSIL',
 'ROYAL SON',
 'AISLIN',
 'AISLIN',
 'Fastrack',
 'Fastrack',
 'GANSTA',
 'NuVew',
 'Ray-Ban',
 'Ray-Ban',
 'Fastrack',
 'AISLIN',
 'United Colors of Benetton',
 'Ray-Ban',
 'Fastrack',
 'PIRASO',
 'ROYAL SON',
 'GANSTA',
 'elegante',
 'PIRASO',
 'elegante',
 'GANSTA',
 'Silver Kartz',
 'PIRASO',
 'Fastrack',
 'GANSTA',
 'Ray-Ban',
 'AISLIN',
 'Ray-Ban',
 'elegante',
 'IRUS by IDEE',
 'NuVew',
 'ROYAL SON',
 'Fastrack',
 'ROZZETTA CRAFT',
 'AISLIN',
 'AISLIN',
 'ROYAL SON',
 'Fastrack',
 'VINCENT CHASE',
 'FOSSIL',
 'ROYAL SON',
 'AISLIN',
 'AISLIN',
 'Fastrack',
 'Fastrack',
 'GANSTA',
 'NuVew',
 'Ray-Ban',
 'Ray-Ban',
 'Fastrack',
 'AISLIN',
 'United Colors of Benetton',
 'Ray-Ban',
 'Fastrack',
 'PIRASO',
 'ROYAL SON',
 'GANSTA',
 'elegante',
 'PIRASO',
 'elegante',
 'GANSTA',
 'Silver Kartz',
 'PIRASO',
 'Fastrack',
 'GANSTA',
 'Ray-Ban',
 'AISLIN',
 'Ray-Ban',
 'elegante',
 'IRUS by IDEE',
 'NuVew',
 'ROYAL SON']

In [26]:
#Product Description

Product_Description = []

for page in range(1,4):
    desc = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    nxtbtn = driver.find_elements_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav')[-1].click()
    for i in desc:
        Product_Description.append(i.text)

In [27]:
len(Product_Description)

120

In [28]:
Product_Description = Product_Description[1:101]

In [29]:
Product_Description

['UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Round Sunglasses (49)',
 'UV Protection, Mirrored, Gradient Wayfarer Sunglasses (...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Oval Sunglasses (56)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'Rectangular Sunglasses',
 'Polarized, UV Protection Wayfarer, Rectangular Sunglass...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient Rectangular Sunglasses (55)',
 'UV Protection Cat-eye Sunglasses (60)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection, Gradient Over-sized Sunglasses (63)',
 'UV Protection, Gradient Butterfly, Over-sized Sunglasse...',
 'UV Protection Over-sized Sunglasses (60)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'Others Rectangular Sunglasses (54)',
 'Polarized, UV Protection Rectangular Sunglasses (59)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'UV Protection, Gradient Cat-eye Sunglasses (58)',
 'Polarized Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Gradient Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly Sunglasses (62)',
 'Mirrored, UV Protection Round Sunglasses (50)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Round Sunglasses (49)',
 'UV Protection, Mirrored, Gradient Wayfarer Sunglasses (...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Oval Sunglasses (56)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'Rectangular Sunglasses',
 'Polarized, UV Protection Wayfarer, Rectangular Sunglass...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient Rectangular Sunglasses (55)',
 'UV Protection Cat-eye Sunglasses (60)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Gradient Round Sunglasses (Free Size)',
 'UV Protection, Gradient Over-sized Sunglasses (63)',
 'UV Protection, Gradient Butterfly, Over-sized Sunglasse...',
 'UV Protection Over-sized Sunglasses (60)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'Others Rectangular Sunglasses (54)',
 'Polarized, UV Protection Rectangular Sunglasses (59)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'UV Protection, Gradient Cat-eye Sunglasses (58)',
 'Polarized Retro Square Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Gradient Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (54)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Butterfly Sunglasses (62)',
 'Mirrored, UV Protection Round Sunglasses (50)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection Round Sunglasses (49)',
 'UV Protection, Mirrored, Gradient Wayfarer Sunglasses (...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (57)',
 'UV Protection Oval Sunglasses (56)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Shield Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'Rectangular Sunglasses',
 'Polarized, UV Protection Wayfarer, Rectangular Sunglass...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Gradient Rectangular Sunglasses (55)',
 'UV Protection Cat-eye Sunglasses (60)',
 'Mirrored Aviator Sunglasses (Free Size)']

In [30]:
# Price

Price = []

for page in range(1,4):
    p = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    nxtbtn = driver.find_elements_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav')[-1].click()
    for i in p:
        Price.append(i.text)

Price = Price[1:101]

In [31]:
Price

['₹6,469',
 '₹779',
 '₹237',
 '₹664',
 '₹281',
 '₹189',
 '₹237',
 '₹426',
 '₹233',
 '₹284',
 '₹331',
 '₹719',
 '₹260',
 '₹10,339',
 '₹577',
 '₹6,649',
 '₹426',
 '₹579',
 '₹375',
 '₹399',
 '₹2,069',
 '₹426',
 '₹917',
 '₹598',
 '₹699',
 '₹854',
 '₹1,344',
 '₹1,559',
 '₹664',
 '₹498',
 '₹525',
 '₹1,889',
 '₹1,961',
 '₹207',
 '₹396',
 '₹7,279',
 '₹10,429',
 '₹520',
 '₹625',
 '₹849',
 '₹6,469',
 '₹779',
 '₹237',
 '₹664',
 '₹281',
 '₹189',
 '₹237',
 '₹426',
 '₹233',
 '₹284',
 '₹331',
 '₹719',
 '₹260',
 '₹10,339',
 '₹577',
 '₹6,649',
 '₹426',
 '₹579',
 '₹375',
 '₹399',
 '₹2,069',
 '₹426',
 '₹917',
 '₹598',
 '₹699',
 '₹854',
 '₹1,344',
 '₹1,559',
 '₹664',
 '₹498',
 '₹525',
 '₹1,889',
 '₹1,961',
 '₹207',
 '₹396',
 '₹7,279',
 '₹10,429',
 '₹520',
 '₹625',
 '₹849',
 '₹6,469',
 '₹779',
 '₹237',
 '₹664',
 '₹281',
 '₹189',
 '₹237',
 '₹426',
 '₹233',
 '₹284',
 '₹331',
 '₹719',
 '₹260',
 '₹10,339',
 '₹577',
 '₹6,649',
 '₹426',
 '₹579',
 '₹375',
 '₹399']

In [32]:
#Discount


Discount = []

for page in range(1,4):
    d = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    nxtbtn = driver.find_elements_by_xpath('/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav')[-1].click()
    for i in d:
        Discount.append(i.text)

Discount = Discount[1:101]

Discount

['₹1621 off',
 '₹520 off',
 '₹1362 off',
 '₹1335 off',
 '₹1718 off',
 '₹810 off',
 '₹1362 off',
 '₹1073 off',
 '₹816 off',
 '₹915 off',
 '₹1268 off',
 '₹280 off',
 '₹1735 off',
 '₹1151 off',
 '₹1873 off',
 '₹741 off',
 '₹1073 off',
 '₹561 off',
 '₹1070 off',
 '₹1100 off',
 '₹230 off',
 '₹2239 off',
 '₹3183 off',
 '₹1552 off',
 '₹1300 off',
 '₹145 off',
 '₹655 off',
 '₹4341 off',
 '₹835 off',
 '₹1027 off',
 '₹1000 off',
 '₹210 off',
 '₹338 off',
 '₹1592 off',
 '₹854 off',
 '₹811 off',
 '₹1161 off',
 '₹279 off',
 '₹1525 off',
 '₹3251 off',
 '₹1621 off',
 '₹520 off',
 '₹1362 off',
 '₹1335 off',
 '₹1718 off',
 '₹810 off',
 '₹1362 off',
 '₹1073 off',
 '₹816 off',
 '₹915 off',
 '₹1268 off',
 '₹280 off',
 '₹1735 off',
 '₹1151 off',
 '₹1873 off',
 '₹741 off',
 '₹1073 off',
 '₹561 off',
 '₹1070 off',
 '₹1100 off',
 '₹230 off',
 '₹2239 off',
 '₹3183 off',
 '₹1552 off',
 '₹1300 off',
 '₹145 off',
 '₹655 off',
 '₹4341 off',
 '₹835 off',
 '₹1027 off',
 '₹1000 off',
 '₹210 off',
 '₹338 off',
 '₹1592 off',
 '₹854 off',
 '₹811 off',
 '₹1161 off',
 '₹279 off',
 '₹1525 off',
 '₹3251 off',
 '₹1621 off',
 '₹520 off',
 '₹1362 off',
 '₹1335 off',
 '₹1718 off',
 '₹810 off',
 '₹1362 off',
 '₹1073 off',
 '₹816 off',
 '₹915 off',
 '₹1268 off',
 '₹280 off',
 '₹1735 off',
 '₹1151 off',
 '₹1873 off',
 '₹741 off',
 '₹1073 off',
 '₹561 off',
 '₹1070 off',
 '₹1100 off']

In [33]:
data = list(zip(Brands,Product_Description,Price,Discount))

Sunglasses = pd.DataFrame(data = data, columns = ['Brands','Product_Description','Price','Discount'], index = np.arange(1,101,1))

In [34]:
Sunglasses

,Brands,Product_Description,Price,Discount
1,Ray-Ban,UV Protection Aviator Sunglasses (Free Size),"₹6,469",₹1621 off
2,Fastrack,UV Protection Wrap-around Sunglasses (Free Size),₹779,₹520 off
3,PIRASO,UV Protection Wayfarer Sunglasses (32),₹237,₹1362 off
4,ROYAL SON,UV Protection Round Sunglasses (49),₹664,₹1335 off
5,GANSTA,"UV Protection, Mirrored, Gradient Wayfarer Sun...",₹281,₹1718 off
...,...,...,...,...
96,Ray-Ban,UV Protection Aviator Sunglasses (58),"₹6,649",₹741 off
97,elegante,UV Protection Wayfarer Sunglasses (Free Size),₹426,₹1073 off
98,IRUS by IDEE,Gradient Rectangular Sunglasses (55),₹579,₹561 off
99,NuVew,UV Protection Cat-eye Sunglasses (60),₹375,₹1070 off
100,ROYAL SON,Mirrored Aviator Sunglasses (Free Size),₹399,₹1100 off

### Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:

In [107]:
driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')

In [113]:
allreviews = driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div/div/div[5]/div/a/div/span")

In [115]:
allreviews.click()

In [145]:
#Pages
page = []

url = driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a")[:10]

for i in url:
    page.append(i.get_attribute("href"))
page

['https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=1',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=2',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=3',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=4',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=5',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=6',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=7',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=8',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=9',
 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=10']

In [146]:
#Rating

Rating = []

for page in range(1,11):
    r = driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")[:100]
    for i in r:
        Rating.append(i.text)
len(Rating)

100

In [148]:
#review Summary

Review = []

for page in range(1,11):
    r = driver.find_elements_by_xpath("//p[@class='_2-N8zT']")[:100]
    for i in r:
        Review.append(i.text)
len(Review)

100

In [153]:
# 3. Full review

Full_Review = []

for page in range(1,11):
    r = driver.find_elements_by_xpath("//div[@class='t-ZTKy']")[:100]
    for i in r:
        Full_Review.append(i.text.replace('\n',''))
len(Full_Review)

100

In [158]:
data=list(zip(Rating,Review,Full_Review))

Iphone11_Review = pd.DataFrame(data=data, columns= ['Ratings','Review_Summary','Full_Review'], index = np.arange(1,101,1))

Iphone11_Review.head()

,Ratings,Review_Summary,Full_Review
1,5,Brilliant,The Best Phone for the MoneyThe iPhone 11 offe...
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
5,5,Great product,Amazing Powerful and Durable Gadget.I’m am ver...

### Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker :
1. Brand
2. Product Description
3. Price
4. discount %

In [163]:
driver.get("https://www.flipkart.com")

In [171]:
#Login

email = driver.find_element_by_xpath("/html/body/div[2]/div/div/div/div/div[2]/div/form/div[1]/input")
email.send_keys('9641731644')

send = driver.find_element_by_xpath("/html/body/div[2]/div/div/div/div/div[2]/div/form/div[5]/button").click()

In [172]:
otp = driver.find_element_by_xpath("/html/body/div[2]/div/div/div/div/div[2]/div/div/form/div/div[1]/input")
otp.send_keys("812494")

In [173]:
# Searching for Sneakers

sneakers = driver.find_element_by_xpath("/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
sneakers.send_keys("sneakers")

In [176]:
search = driver.find_element_by_class_name("L0Z3Pu").click()

In [188]:
#Page

page = []

url = driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a")[:4]

for i in url:
    page.append(i.get_attribute("href"))
page

['https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=1',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3',
 'https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=4']

In [206]:
#Brand Name

Brand = []

for page in range(1,4):
    brand= driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    for i in brand:
        Brand.append(i.text)

Brand = Brand[:100]

len(Brand)

100

In [207]:
#Product_Description

Product_Description = []

for page in range(1,4):
    pd = driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for i in pd:
        Product_Description.append(i.text)

Product_Description = Product_Description[:100]

len(Product_Description)

100

In [208]:
#Price

Price = []

for page in range(1,4):
    p = driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    for i in p:
        Price.append(i.text)

Price = Price[:100]

len(Price)

100

In [209]:
#Discount

Discount = []

for page in range(1,4):
    d = driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']")
    for i in d:
        Discount.append(i.text)

Discount = Discount[:100]

len(Discount)

100

In [215]:
data =list(zip(Brand,Product_Description,Price,Discount))

Sneakers_Flipkart = pd.DataFrame(data = data, columns = ['Brand','Product_Description','Price','Discount'], index = np.arange(1,101,1))

Sneakers_Flipkart

,Brand,Product_Description,Price,Discount
1,Chevit,Perfect & Affordable Combo Pack of 02 Pairs Sn...,₹859,60% off
2,PUMA,ST Runner v2 NL Sneakers For Men,₹410,79% off
3,ESSENCE,Sneakers For Men,₹379,62% off
4,Marc Ecko,Sneakers For Men,₹349,65% off
5,NIKE,SB Heritage Vulc Skate Sneakers For Men,₹748,62% off
...,...,...,...,...
96,kardam&sons,Perforated Low IDP Sneakers For Men,₹449,55% off
97,NIKE,Men's Stylish Casual Shoes Sneakers For Men,₹365,44% off
98,BRUTON,Super & Trendy Men's Pack of 02 Pair Shoes for...,₹588,70% off
99,JACK & JONES,SYNTHETIC LEATHER CONS EL DISTRITO Sneakers Fo...,₹240,51% off
100,HOTSTYLE,Respin SL Sneakers For Men,₹449,82% off

### Q9: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image


scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown in the below image.

In [23]:
# Go to the link - https://www.myntra.com/shoes¶

driver.get('https://www.myntra.com/shoes')

In [24]:
#Set color filter black,

color_filter = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label").click()

In [25]:
# price filter to “Rs. 6649 to Rs. 13099” 

price_filter = driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label").click()

In [26]:
#Page

page = []

url = driver.find_elements_by_xpath("//ul[@class='pagination-container']/li/a")[:2]

for i in url:
    page.append(i.get_attribute("href"))
page

['https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6687.0_13125.0_6687.0%20TO%2013125.0',
 'https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A6687.0_13125.0_6687.0%20TO%2013125.0&p=2']

In [27]:
#Brand Name

Brand = []

for page in range(1,4):
    brand= driver.find_elements_by_xpath("//h3[@class='product-brand']")
    for i in brand:
        Brand.append(i.text)
        
Brand = Brand[:100]
     
len(Brand)

100

In [28]:
#Product_Description

Product_Description = []

for page in range(1,3):
    pd = driver.find_elements_by_xpath("//h4[@class='product-product']")
    for i in pd:
        Product_Description.append(i.text)

Product_Description = Product_Description[:100]

len(Product_Description)

100

In [41]:
#Price

Price = []

for :
    p = driver.find_elements_by_xpath("//div[@class='product-price']")
    for i in p:
        Price.append(i.text)

Price = Price[:100]

len(Price)

100

In [42]:
import pandas as pd

In [43]:
data =list(zip(Brand,Product_Description,Price))

Myntra_Shoes = pd.DataFrame(data = data, columns = ['Brand','Product_Description','Price'], index = np.arange(1,101,1))

Myntra_Shoes

,Brand,Product_Description,Price
1,Nike,Men AIR ZOOM Running Shoes,Rs. 8236Rs. 10295(20% OFF)
2,Nike,Men JOYRIDE Running Shoes,Rs. 10496Rs. 14995(30% OFF)
3,Nike,AIR ZOOM PEGASUS Running Shoes,Rs. 11495
4,Nike,Men KD13 EP Basketball Shoes,Rs. 12995
5,ALDO,Men Sneakers,Rs. 9999
...,...,...,...
96,ALDO,Women Sandals,Rs. 8999
97,Hush Puppies,Men Solid Leather Formal Derbys,Rs. 9999
98,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 9999
99,Skechers,Men Flex Advantage 4.0Upstream,Rs. 6999
100,Puma,Men Football Shoes,Rs. 8499Rs. 16999(50% OFF)

In [44]:
driver.close()

### Q10: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop:
1. title
2. Ratings
3. Price

In [82]:
driver = webdriver.Chrome(r"C:\Users\OWNER\Downloads\chromedriver.exe")
amazon = driver.get("https://www.amazon.in/")

In [83]:
search = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
search.send_keys("Laptop")
click = driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input").click()

In [85]:
#Setting filter for Intel Core i7 and i9
filters = driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div/div[2]/div/div[3]/span/div[1]/span/div/div/div[5]/ul[1]/li[26]/span/a/span").click()

In [86]:
filters1 = driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div/div[2]/div/div[3]/span/div[1]/span/div/div/div[5]/ul[1]/li[28]/span/a/span").click()

In [109]:
#Pages

page = []

url = driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")

for i in url:
    page.append(i.get_attribute("href"))
page

['https://www.amazon.in/HP-Pavilion-Graphics-35-56cms-14-dv0058TU/dp/B08WB857GB/ref=sr_1_1?dchild=1&keywords=Laptop&qid=1625493864&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-1',
 'https://www.amazon.in/Notebook-Horizon-i7-10510U-Graphics-XMA1904-AF/dp/B089F2W1KW/ref=sr_1_2?dchild=1&keywords=Laptop&qid=1625493864&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-2',
 'https://www.amazon.in/HP-Pavilion-Touchscreen-Convertible-14-dw1040TU/dp/B08R843NHL/ref=sr_1_3?dchild=1&keywords=Laptop&qid=1625493864&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-3',
 'https://www.amazon.in/HP-Pavilion-Processor-15-6-inch-15-dk1509TX/dp/B08ZN7GBQ5/ref=sr_1_4?dchild=1&keywords=Laptop&qid=1625493864&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-4',
 'https://www.amazon.in/Lenovo-Touchscreen-Fingerprint-Aluminium-82BH004HIN/dp/B08P3M22QQ/ref=sr_1_5?dchild=1&keywords=Laptop&qid=1625493864&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-5',
 'https://www.amazon.in/HP-35-56cms-i7-1165G7-Windows-14s-dr2007TU/dp/B08N57LR4X/ref=sr_1_6?dchild=1&keywords=Laptop&qid=1625493864&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-6',
 'https://www.amazon.in/ASUS-VivoBook-i7-1165G7-Graphics-S433EA-AM702TS/dp/B08SN9GJXH/ref=sr_1_7?dchild=1&keywords=Laptop&qid=1625493864&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-7',
 'https://www.amazon.in/LifeDigital-Laptop-Intel%C2%AE-Storage-Windows/dp/B08HRMHZ8J/ref=sr_1_8?dchild=1&keywords=Laptop&qid=1625493864&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-8',
 'https://www.amazon.in/Dell-5410-i7-1165G7-Integrated-D560469WIN9S/dp/B095S9NJ4S/ref=sr_1_9?dchild=1&keywords=Laptop&qid=1625493864&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-9',
 'https://www.amazon.in/Renewed-Lenovo-80UE00BLIH-Windows-Champagne/dp/B07K23KHJD/ref=sr_1_10?dchild=1&keywords=Laptop&qid=1625493864&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-10',
 'https://www.amazon.in/Dell-35-56cms-1366x768-Integrated-Graphics/dp/B097PLFY4B/ref=sr_1_11?dchild=1&keywords=Laptop&qid=1625493864&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-11',
 'https://www.amazon.in/Dell-1366x768-Integrated-Graphics-Latitude/dp/B0974WY91B/ref=sr_1_12?dchild=1&keywords=Laptop&qid=1625493864&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-12',
 'https://www.amazon.in/gp/slredirect/picassoRedirect.html/ref=pa_sp_mtf_computers_sr_pg1_1?ie=UTF8&adId=A02653902UKZ2EJPLDFRL&url=%2FNotebook-Horizon-i5-10210U-Graphics-XMA1904-AR%2Fdp%2FB089F5JGM1%2Fref%3Dsr_1_13_sspa%3Fdchild%3D1%26keywords%3DLaptop%26qid%3D1625493864%26refinements%3Dp_n_feature_thirteen_browse-bin%253A12598163031%257C16757432031%26rnid%3D12598141031%26s%3Dcomputers%26sr%3D1-13-spons%26psc%3D1&qualifier=1625493864&id=3302169267126853&widgetName=sp_mtf',
 'https://www.amazon.in/Dell-1366x768-Integrated-Graphics-Latitude/dp/B0974WWK87/ref=sr_1_14?dchild=1&keywords=Laptop&qid=1625493864&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-14',
 'https://www.amazon.in/Dell-35-56cms-1366x768-Integrated-Graphics/dp/B097PL7VX8/ref=sr_1_15?dchild=1&keywords=Laptop&qid=1625493864&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-15',
 'https://www.amazon.in/Dell-1366x768-Integrated-Graphics-Latitude/dp/B0974W4W9W/ref=sr_1_16?dchild=1&keywords=Laptop&qid=1625493864&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-16',
 'https://www.amazon.in/Dell-1366x768-Integrated-Graphics-Latitude/dp/B0974XBX64/ref=sr_1_17?dchild=1&keywords=Laptop&qid=1625493864&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-17',
 'https://www.amazon.in/Dell-13-3-inch-i7-8550U-Integrated-Graphics/dp/B08MJDHDBL/ref=sr_1_18?dchild=1&keywords=Laptop&qid=1625493864&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-18',
 'https://www.amazon.in/GF63-Thin-10SCSR-019IN-i7-10750H-9S7-16R412-019/dp/B0897SXQNN/ref=sr_1_19?dchild=1&keywords=Laptop&qid=1625493864&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-19',
 'https://www.amazon.in/Renewed-Lenovo-ThinkPad-Graphics-20S0S1MC00/dp/B0983DH45B/ref=sr_1_20?dchild=1&keywords=Laptop&qid=1625493864&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-20',
 'https://www.amazon.in/Dell-13-3-inch-i7-8550U-Integrated-Graphics/dp/B09813L8BX/ref=sr_1_21?dchild=1&keywords=Laptop&qid=1625493864&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-21',
 'https://www.amazon.in/Nexstgo-NP15N1IN008P-15-6-inch-i7-8550U-Integrated/dp/B07KGP3HP3/ref=sr_1_22?dchild=1&keywords=Laptop&qid=1625493864&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-22',
 'https://www.amazon.in/Renewed-HP-15-6-Inch-Graphics-Zbook/dp/B0912DLKWB/ref=sr_1_23?dchild=1&keywords=Laptop&qid=1625493864&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-23',
 'https://www.amazon.in/Samsung-Display-Processor-Bluetooth-Enabled-NP930QCG-K01US/dp/B085D2HHBT/ref=sr_1_24?dchild=1&keywords=Laptop&qid=1625493864&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-24',
 'https://www.amazon.in/Lenovo-Touchscreen-Fingerprint-Graphite-82HS0092IN/dp/B08WRZQBQ6/ref=sr_1_25?dchild=1&keywords=Laptop&qid=1625493864&refinements=p_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&rnid=12598141031&s=computers&sr=1-25',
 'https://www.amazon.in/HP-Business-Additional-Accidental-Protection/dp/B000RTAX4W/ref=pd_rhf_se_s_pd_crcd_1/257-8794964-2019745?pd_rd_w=SwkoW&pf_rd_p=a62021ef-ed94-4c60-92cc-5878fb8afd3c&pf_rd_r=PWR2G19T7T6TKRMAE3AY&pd_rd_r=fd290346-6ab2-4b04-b395-ca8ede8518da&pd_rd_wg=IPvuY&pd_rd_i=B000RTAX4W&psc=1',
 'https://www.amazon.in/GIZGA-essentials-Laptop-Sleeve-PouchMacbook/dp/B084PBXVMX/ref=pd_rhf_se_s_pd_crcd_2/257-8794964-2019745?pd_rd_w=SwkoW&pf_rd_p=a62021ef-ed94-4c60-92cc-5878fb8afd3c&pf_rd_r=PWR2G19T7T6TKRMAE3AY&pd_rd_r=fd290346-6ab2-4b04-b395-ca8ede8518da&pd_rd_wg=IPvuY&pd_rd_i=B084PBXVMX&psc=1',
 'https://www.amazon.in/HP-Additional-Warranty-Support-Pavilion/dp/B08YDCSDSL/ref=pd_rhf_se_s_pd_crcd_3/257-8794964-2019745?pd_rd_w=SwkoW&pf_rd_p=a62021ef-ed94-4c60-92cc-5878fb8afd3c&pf_rd_r=PWR2G19T7T6TKRMAE3AY&pd_rd_r=fd290346-6ab2-4b04-b395-ca8ede8518da&pd_rd_wg=IPvuY&pd_rd_i=B08YDCSDSL&psc=1',
 'https://www.amazon.in/Lenovo-Touchscreen-Fingerprint-Graphite-82HS0092IN/dp/B08WRZQBQ6/ref=pd_rhf_se_s_pd_crcd_4/257-8794964-2019745?pd_rd_w=SwkoW&pf_rd_p=a62021ef-ed94-4c60-92cc-5878fb8afd3c&pf_rd_r=PWR2G19T7T6TKRMAE3AY&pd_rd_r=fd290346-6ab2-4b04-b395-ca8ede8518da&pd_rd_wg=IPvuY&pd_rd_i=B08WRZQBQ6&psc=1',
 'https://www.amazon.in/AirCase-14-Inch-MacBook-Protective-Neoprene/dp/B07Z1Z77ZZ/ref=pd_rhf_se_s_pd_crcd_5/257-8794964-2019745?pd_rd_w=SwkoW&pf_rd_p=a62021ef-ed94-4c60-92cc-5878fb8afd3c&pf_rd_r=PWR2G19T7T6TKRMAE3AY&pd_rd_r=fd290346-6ab2-4b04-b395-ca8ede8518da&pd_rd_wg=IPvuY&pd_rd_i=B07Z1Z77ZZ&psc=1']

In [111]:
Title = []


for i in page[:10]:
    driver.get(i)
    time.sleep(6)
    
    try:
        t = driver.find_element_by_xpath("//h1[@class='a-size-large a-spacing-none']")
        Title.append(t.text)
    except NoSuchElementException:
        Title.append('-')

In [103]:
Ratings = []


for i in page[:10]:
    driver.get(i)
    time.sleep(6)
    
    try:
        rate = driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")
        Ratings.append(rate.text)
    except NoSuchElementException:
        Ratings.append('-')

In [104]:
Ratings

['4.5 out of 5',
 '4.4 out of 5',
 '3.9 out of 5',
 '4.2 out of 5',
 '4.1 out of 5',
 '4.6 out of 5',
 '4.4 out of 5',
 '3.7 out of 5',
 '-',
 '4.5 out of 5']

In [105]:
Price = []


for i in page[:10]:
    driver.get(i)
    time.sleep(6)
    p = driver.find_element_by_xpath("//span[@class='a-size-medium a-color-price priceBlockBuyingPriceString']")
    Price.append(p.text)

In [106]:
Price

['₹ 84,990.00',
 '₹ 59,999.00',
 '₹ 78,903.00',
 '₹ 86,990.00',
 '₹ 94,490.00',
 '₹ 88,990.00',
 '₹ 76,990.00',
 '₹ 40,932.00',
 '₹ 89,490.00',
 '₹ 91,500.00']

In [112]:
data =list(zip(Title,Ratings,Price))

Amazon_Laptops = pd.DataFrame(data = data, columns = ['Title','Ratings','Price'], index = np.arange(1,11,1))

Amazon_Laptops

,Title,Ratings,Price
1,HP Pavilion (2021) Thin & Light 11th Gen Core ...,4.5 out of 5,"₹ 84,990.00"
2,Mi Notebook Horizon Edition 14 Intel Core i7-1...,4.4 out of 5,"₹ 59,999.00"
3,"HP Pavilion x360 (2021) 14"" (35.56cms) FHD Tou...",3.9 out of 5,"₹ 78,903.00"
4,HP Pavilion Gaming 10th Gen Intel Core i7 Proc...,4.2 out of 5,"₹ 86,990.00"
5,"Lenovo Yoga 7 11th Gen Intel Core i7 14"" (35.5...",4.1 out of 5,"₹ 94,490.00"
6,"HP 14 Thin & Light 14"" (35.56cms) FHD Laptop (...",4.6 out of 5,"₹ 88,990.00"
7,ASUS VivoBook S S14 Intel Core i7-1165G7 11th ...,4.4 out of 5,"₹ 76,990.00"
8,Life Digital Laptop 15.6-inch (39.62 cms) (Int...,3.7 out of 5,"₹ 40,932.00"
9,"Dell Inspiron 5410 14"" FHD Touch Display 2in1 ...",-,"₹ 89,490.00"
10,(Renewed) Lenovo Yoga 900 Laptop 80UE00BLIH (C...,4.5 out of 5,"₹ 91,500.00"